* {
  font-family: Verdana;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para a barra de pesquisa */
.search-bar {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
