.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: auto;
  }
  
  .display {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
  }
  
  .complete-operation {
    width: 100%;
    min-height: 30px;
    border: 1px solid #000;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    font-size: 0.8rem;
    overflow: auto;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
  }
  