.new-post h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
