body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

li {
  background: #eee;
  margin: 8px 0;
  padding: 12px;
  text-align: left;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px 20px;
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

li span {
  cursor: pointer;
}

li span.line-through {
  text-decoration: line-through;
  color: #888;
}
