.back_btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  color: #9da5d1;
  background-color: #2b3566;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  opacity: 0.9;
}

.back_btn:hover {
  opacity: 1;
}
